body {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
    margin: 10%;
};

.container {
    display: flex;
};
